<h3><%= @post.title  %></h3>
<p><%= @markdown.render(@post.body).html_safe  %></p>
<p><%= time_ago_in_words(@post.created_at)  %></p>
<% if current_user && @post.user_id == current_user.id %>
  <%= link_to "Edit", edit_post_url(@post) %>
  <%= link_to "Delete", post_url(@post), method: 'delete', data: {confirm: "Are ou sure you want to delete #{@post.title}"} %>
<% end %>
<hr/>
<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <br/>
  <% if current_user && comment.user_id == current_user.id %>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete Comment", post_comment_path(@post, comment), method: :delete %>
    <br/>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_field :body, placeholder: 'Comment', class: 'form-control', required: true, size: '50x50'%>
    <%= f.submit %>
  <% end %>
<% end %>
